resources/js/components/ui/*
resources/views/mail/*

# Ignore auto generated routeTree.gen.ts
/resources/js/routeTree.gen.ts

# Ignore auto generated typescript-transformer
resources/js/types/laravel-data.d.ts
